h2{
    border: 2px solid whitesmoke;
    background-image: url('https://e7.pngegg.com/pngimages/429/841/png-clipart-flag-of-india-flag-of-india-indian-independence-movement-india-flag-orange-thumbnail.png');
    padding:100px;
    text-align:center;
    
    
}   